.git
.venv
uv.lock
.cache
**/__pycache__
**/*.py[cod]
.pytest_cache
.ruff_cache
.coverage*
coverage.xml
build
dist
**/*.egg-info
docs/_build
docs/auto_examples
docs/_contents
docs/gen_modules
docs/generated
.jupyterlite.doit.db
